<!DOCTYPE html>
<html xml:lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" lang="en-GB"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Bradford Council IoT">
    <meta name="author" content="Team15">
    <meta property="og:description" content="Bradford Council">
    <meta property="og:title" content="Bradford Council">
    <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:site_name" content="Bradford Metropolitan District Council - Portal for monitoring IoT data">
    <meta property="og:image" content="">

    <title>Department of Place | Bradford Council IoT Data</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/site.css}"/>

    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/Chart.bundle.js}"></script>

</head>

<body style="position: relative; min-height: 100%; top: 0;">
<header aria-label="BMDC Print logo">
    <div class="BMDClogo visible-print"></div>
</header>
<div class="navbar navbar">
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/navbars :: dopnav"></div>
</div>
<div class="container body-content">
    <main id="maincontent" role="main">
        <div class="row">
            <div class="col-sm-12">
                <input id="switch-1" type="radio" name="tog" checked>
                <div th:insert="fragments/dopSensorsFragments :: flood-monitors-chart"></div>
                <input id="switch-2" type="radio" name="tog">
                <div th:insert="fragments/dopSensorsFragments :: gully-monitors-chart"></div>
                <input id="switch-3" type="radio" name="tog">
                <div th:insert="fragments/dopSensorsFragments :: water-purity-sensors-chart"></div>
                <input id="switch-4" type="radio" name="tog" checked>
                <div th:insert="fragments/dopSensorsFragments :: river-level-monitors-chart"></div>
                <input id="switch-5" type="radio" name="tog">
                <div th:insert="fragments/dopSensorsFragments :: co2-sensors-chart"></div>
                <input id="switch-6" type="radio" name="tog">
                <div th:insert="fragments/dopSensorsFragments :: parking-sensors-chart"></div>
                <input id="switch-7" type="radio" name="tog" checked>
                <div th:insert="fragments/dopSensorsFragments :: road-monitors-chart"></div>
                <input id="switch-8" type="radio" name="tog">
                <div th:insert="fragments/dopSensorsFragments :: sound-sensors-chart"></div>
                <input id="switch-9" type="radio" name="tog">
                <div th:insert="fragments/dopSensorsFragments :: traffic-flow-sensors-chart"></div>
                <input id="switch-10" type="radio" name="tog">
                <div th:insert="fragments/dopSensorsFragments :: road-sensors-chart"></div>
            </div>
        </div>
    </main>
</div>
</body>
</html>